*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0d0d0d;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px 60px;
align-items:center;
background:#141414;
}

nav{
display:flex;
gap:25px;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:70px;
gap:50px;
}

.hero img{
width:50%;
border-radius:15px;
}

.hero-text{
max-width:500px;
}

.hero h1{
font-size:48px;
margin-bottom:20px;
}

.hero p{
margin-bottom:25px;
line-height:1.7;
}

button{
padding:14px 28px;
background:#ff006e;
border:none;
color:white;
border-radius:8px;
cursor:pointer;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
padding:40px 70px;
}

.card{
background:#1c1c1c;
padding:30px;
border-radius:15px;
text-align:center;
}

.lineup,
.tickets{
padding-top:60px;
text-align:center;
}

footer{
text-align:center;
padding:40px;
background:#111;
margin-top:70px;
}

@media(max-width:768px){

.hero{
flex-direction:column;
text-align:center;
}

.hero img{
width:100%;
}

.navbar{
flex-direction:column;
gap:20px;
}

nav{
flex-wrap:wrap;
justify-content:center;
}

}